* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: #fff;
  
}

nav {
    background-color: rgb(67, 105, 67);
    color: #fff;
}

 nav ul{
    display: flex;
    list-style: none;
    padding: 30px;
    justify-content: space-around;
}

.active, nav ul li:hover {
    background-color: green;
    cursor: pointer;
}
nav ul h1 {
    font-size:50px;
}

nav ul li {
    font-size: 25px;
}


.menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu h5 {
    font-size: 25px;
    background-color: rgb(67, 105, 67);
    cursor: pointer;

}

.container {
    margin: 50px;
    
}
.container h5{
    background-color: rgb(67, 105, 67);
    color: #fff;
}

.container ul li:hover {
    background-color: green;
    cursor: pointer;
}

img {
    width: 400px;
   align-content: flex-end;
}
nav .fa {
    margin-right: 15px;

}
.container ul li {
    font-size: 20px;
}
.box {
    height: 50%;
    width: 100%;
    padding: 15px;
    margin: 15px;
    border: 1px solid green;
    text-align: center;
    background-color: rgb(67, 105, 67);
}
.box p {
    text-align: left;
    color: #fff;
    font-size: 20px;
}
.box ul {
    list-style: none;
}
.box a {
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
}
.box a:hover {
    background-color:#fff;
    color: green;
}